@import 'variables';
body {
	align-items: center;
	background: $color-rain-lighter;
	color: $color-midnight;
	display: flex;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	height: 100vh;
	justify-content: center;
	margin: 0;

}
h3 {
	color: $color-midnight;
	font-size: 23px;
	font-weight: 600;
	margin: 5px 0 10px;
}
p {
	color: $color-rain-darker;
	font-size: 16px;
	margin: 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: $color-midnight-lightest;
	font-weight: 100;
}
::-moz-placeholder { /* Firefox 19+ */
	color: $color-midnight-lightest;
	font-weight: 100;
}
:-ms-input-placeholder { /* IE 10+ */
	color: $color-midnight-lightest;
	font-weight: 100;
}
.gh-box {
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 4px 20px rgba(0,0,0,.1);
	margin: auto;
	text-align: center;
	padding: 30px 0 0 0;
	width: 600px;
	&__avatar {
		border-radius: 50%;
		border: 5px solid $color-rain-light;
		background: $color-rain-light;
		display: block;
		margin: 0 auto 10px auto;
		width: 80px;
		height: 80px;
		img{
			display: block;
			border-radius: 50%;
		}
	}
	&__meta {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		font-size: 16px;
		justify-content: space-around;
		list-style: none;
		padding: 0;
		margin: 40px 0 0;
		border-top: 1px solid #DCE5EB;
		li{
			flex:1 0 auto;
			padding: 15px;
			color:$color-midnight-lighter;
			font-size: 14px;
			border-right: 1px solid #DCE5EB;
			.fa{
				font-size: 16px;
				margin-right: 5px;
				color:$color-rain;
			}
			&:last-child{
				border: none;
			}
		}
	}
	&__bio {
		flex-basis: 100%;
		font-weight: 100;
		margin-bottom: 20px;
		display: block;
		color: $color-rain-darker;
	}
	&__follower {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		list-style: none;
		padding: 0;
		li{
			margin-right: 7px;
			&:last-of-type{
				margin-right: 0
			}
		}
		svg{
			display: block;
		}
	}
	&__more{
		background: $color-rain-darker;
		color:white;
		font-weight: 100;
		font-size: 15px;
		border-radius: 8px;
		width: 48px;
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__follower-url{
		display: block;
		img {
			border-radius: 8px;
			display: block;
			transition: .4s ease-out;
			width: 48px;
		}
		&:hover{
			img{
				transform: scale(1.2)
			}
		}
	}
}
.search-form{
	display: flex;
	margin-bottom: 15px;
	&__input{
		font-size: 16px;
		font-weight: 100;
		border: 1px solid $color-rain-light;
		border-right: none;
		padding: 10px;
		border-radius: 3px 0 0 3px;
		flex:1 0 auto;
		&:focus{
			outline: none;
		}
	}
	&__btn{
		background: $color-white;
		color: $color-teal;
		border-radius: 0 3px 3px 0;
		border: 1px solid $color-rain-light;
		border-left: none;
		padding: 10px;
		font-size: 16px;
		transition: .4s ease-out;
		&:focus{
			outline: none;
		}
		&:hover{
			cursor: pointer;
			background: $color-teal;
			border-color: $color-teal;
			color: $color-white;
		}
	}
}
.error-message{
	background: $color-coral;
	color: $color-white;
	padding: 10px;
	font-weight: 100;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
}