@import 'variables';
body {
	align-items: center;
	background: $color-rain-lighter;
	color: $color-midnight;
	display: flex;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
	height: 100vh;
	justify-content: center;
	margin: 0;

}
h3 {
	color: $color-midnight;
	font-size: 23px;
	font-weight: 600;
	margin: 5px 0 10px;
}
p {
	color: $color-rain-darker;
	font-size: 15px;
	margin: 0;
}
.is-loading{
	h3{
		&:after{
			content:'loading.';
		}		
	}
	.gh-box__avatar{
		img{
			display: none;
		}
	}
}
.gh-box {
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 4px 20px rgba(0,0,0,.1);
	margin: auto;
	text-align: center;
	padding: 30px 0 0 0;
	width: 600px;
	&__input{
		border: 1px solid $color-rain-light;
		padding: 5px;
		border-radius: 4px;
		&:focus{
			outline: none;
		}
	}
	&__avatar {
		border-radius: 50%;
		background: $color-rain-light;
		display: block;
		margin: 0 auto 20px auto;
		width: 80px;
		height: 80px;
		img{
			display: block;
			border-radius: 50%;
		}
	}
	&__meta {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		font-size: 16px;
		justify-content: space-around;
		list-style: none;
		padding: 0;
		margin: 40px 0 0;
		border-top: 1px solid #DCE5EB;
		li{
			flex:1 0 auto;
			padding: 15px;
			color:$color-midnight-lighter;
			font-size: 14px;
			border-right: 1px solid #DCE5EB;
			.fa{
				font-size: 16px;
				margin-right: 5px;
				color:$color-rain;
			}
			&:last-child{
				border: none;
			}
		}
	}
	&__bio {
		flex-basis: 100%;
		margin-bottom: 20px;
	}
	&__follower {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style: none;
		padding: 0;
	}
	&__follower-url{
		display: block;
		img {
			border-radius: 8px;
			display: block;
			transition: .4s ease-out;
			width: 48px;
		}
		&:hover{
			img{
				transform: scale(1.2)
			}
		}
	}
}
